<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>


  <specFlow>
    <language feature="en-US" />
    <bindingCulture />
    <unitTestProvider name="NUnit" />
    <generator allowDebugGeneratedFiles="false" allowRowTests="true" generateAsyncTests="false" path="{not-specified}" />
    <runtime stopAtFirstError="false" missingOrPendingStepsOutcome="Inconclusive" />
    <trace traceSuccessfulSteps="true" traceTimings="false" minTracedDuration="0:0:0.1" stepDefinitionSkeletonStyle="RegexAttribute" />
    <stepAssemblies>
      <!-- <stepAssembly assembly="{name-of-assembly-containing-bindings}" /> -->
    </stepAssemblies>
    <plugins>
      <!-- <add name="{plugin-name}" /> -->
    </plugins>
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>